<!DOCTYPE html>
<html lang="en">
<head>
  <title>Forget Password</title>
  <script src="../assets/index.js"></script>
  <link rel="stylesheet" href="../assets/style.css">
</head>
<body class="forget_password_body">
  <div class="forget_password">
    <p id="error"></p>
    <h2>Forget Password</h2>
    <fieldset>
      <p>Enter the email address or mobile phone number associated with your account.</p>

      <form>
        <label>Email</label>
        <input type="text" id="email" name="email" placeholder="you@example.com">
        <br><br>
        <button type="button" onclick="validateForgetPassForm()">Continue</button>
      </form>
    </fieldset>
  </div>
</body>
</html>
