<!DOCTYPE html>
<html lang="en">
<head>
        <title>Reset Password Screen</title>
        <script src="../assets/index.js"></script>
        <link rel="stylesheet" href="../assets/style.css">
</head>
<body class="reset_body">
        <div class="reset">
                <p id="error"></p>
                <form>
                        <fieldset>
                                <legend> Reset Password </legend>
               
                                      
                                               <table>
                                                       <tr>
                                                               <td><label>New Password</label></td>
                                                               <td><input type="password" name="newpassword" id="password" placeholder="Enter New Password"></td>
                                                       </tr>
                                                       <tr>
                                                               <td><label> Confirm New Password </label></td>
                                                               <td><input type="password" name="renewpassword" id="renewpassword" placeholder="Confirm New Password"></td>
                                                       </tr>
                                                       <tr>
                                                               <td colspan="2"><input type="button" name="Submit" id="Submit" value="Submit" onclick="vaildateResetPass()"> </td>
                                                       </tr>
                                                       
                                               </table>
                                            
                       </fieldset>
                </form>
                
                
        </div>
        
        
        
</body>
</html>