<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create Account</title>
  <script src="../assets/index.js"></script>
  <link rel="stylesheet" href="../assets/style.css">
</head>
<body class="signup_body">
  <div class="signup">
    <p id="error"></p>
    <form>
      <fieldset>
        <legend>Create Account</legend>
        <table>
          <tr>
            <td><label>Your name</label></td>
            <td><input type="text" id="name" placeholder="First and last name" /></td>
          </tr>
          <tr>
            <td><label>Email</label></td>
            <td><input type="email" id="email" placeholder="you@example.com"/></td>
          </tr>
          <tr>
            <td><label>Password</label></td>
            <td>
              <input type="password" id="password" placeholder="at least 8 characters" />
            </td>
          </tr>
          <tr>
            <td><label>Re-enter password</label></td>
            <td><input type="password" id="repassword" /></td>
          </tr>
        </table>
        <button type="button" onclick="validateSignUpForm()">Create your account</button>
      </fieldset>
    </form>
    <div id="navigation_signup">
      Already have an account? <a href="../view/login.html">Sign in</a>
    </div>
  </div>

  <script>
    
  </script>
</body>
</html>
